{
  "openapi": "3.1.0",
  "info": {
    "title": "HIGH Open API",
    "version": "1.0.0",
    "description": "Trading (free) and Data (paid) APIs for HIGH."
  },
  "servers": [
    {
      "url": "https://openapi.high.live/v1",
      "description": "Production",
      "x-environment": "production"
    },
    {
      "url": "https://sandbox.high.live/v1",
      "description": "Sandbox",
      "x-environment": "sandbox"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Exchange an API key for a 24h access token by TOTP or the redirect consent flow.",
      "x-display-name": "Authentication",
      "x-plan": "free"
    },
    {
      "name": "orders",
      "description": "Place, modify and cancel orders; order book, trade book, charges and margin.",
      "x-display-name": "Orders",
      "x-plan": "free"
    },
    {
      "name": "portfolio",
      "description": "Positions, holdings, funds; convert and exit positions.",
      "x-display-name": "Portfolio",
      "x-plan": "free"
    },
    {
      "name": "market",
      "description": "Exchange status and session information.",
      "x-display-name": "Market",
      "x-plan": "free"
    },
    {
      "name": "scrips",
      "description": "Quotes, OHLC, depth, historical candles, option chain and expiries.",
      "x-display-name": "Market data",
      "x-plan": "data"
    }
  ],
  "paths": {
    "/auth/validate-token": {
      "get": {
        "operationId": "validate-token",
        "tags": [
          "auth"
        ],
        "summary": "Validate an access token",
        "description": "Returns true when the bearer token is a valid, unexpired access token backed by an active API key, and false (still HTTP 200) otherwise.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 5,
            "per": "minute"
          },
          "long": {
            "limit": 50,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": true
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "boolean",
                      "description": "True when the bearer token is valid and its credential is active."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/generate-access-token": {
      "get": {
        "operationId": "generate-access-token",
        "tags": [
          "auth"
        ],
        "summary": "Access token from API key + TOTP",
        "description": "Exchange your API key and a current TOTP code for a 24h access token. Enable TOTP in the developer console first.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 5,
            "per": "minute"
          },
          "long": {
            "limit": 50,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": true,
            "description": "Your HIGH client ID.",
            "schema": {
              "type": "string",
              "description": "Your HIGH client ID.",
              "example": "OG26331"
            }
          },
          {
            "name": "tOtp",
            "in": "query",
            "required": true,
            "description": "6-digit code from your authenticator app.",
            "schema": {
              "type": "string",
              "description": "6-digit code from your authenticator app.",
              "example": "123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "accessToken": "eyJhbGciOi...",
                    "expiresAt": "2026-09-28T06:30:56.123Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccessToken"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/generate-consent": {
      "get": {
        "operationId": "generate-consent",
        "tags": [
          "auth"
        ],
        "summary": "Start the redirect login",
        "description": "Creates a 10-minute consent id. Send your user to /auth/login?consentId=… to log in; they return to your redirect URL with a tokenId.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 5,
            "per": "minute"
          },
          "long": {
            "limit": 50,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": true,
            "description": "Client ID of the user logging in.",
            "schema": {
              "type": "string",
              "description": "Client ID of the user logging in.",
              "example": "OG26331"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "consentId": "3b1f6a2e-9c4d-4e7a-8f21-5d0c9b7e4a13",
                    "expiresAt": "2026-09-27T06:40:56.123Z",
                    "expiresIn": 600
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Consent"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/consume-consent": {
      "get": {
        "operationId": "consume-consent",
        "tags": [
          "auth"
        ],
        "summary": "Exchange tokenId for an access token",
        "description": "Call from your server with the tokenId your redirect URL received.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 5,
            "per": "minute"
          },
          "long": {
            "limit": 50,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "tokenId",
            "in": "query",
            "required": true,
            "description": "tokenId from the redirect.",
            "schema": {
              "type": "string",
              "description": "tokenId from the redirect.",
              "example": "t_9a8b7c..."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "accessToken": "eyJhbGciOi...",
                    "expiresAt": "2026-09-28T06:30:56.123Z"
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccessToken"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "operationId": "place-order",
        "tags": [
          "orders"
        ],
        "summary": "Place an order",
        "description": "Places a regular, bracket, cover or GTT order. Must come from a registered static IP.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 10,
            "per": "second"
          },
          "long": {
            "limit": 5000,
            "per": "day"
          }
        },
        "x-static-ip": true,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tradeSide",
                  "productType",
                  "flavor",
                  "orderType",
                  "validity",
                  "quantity",
                  "isAMO"
                ],
                "properties": {
                  "tradeSide": {
                    "type": "string",
                    "description": "B = Buy, S = Sell.",
                    "enum": [
                      "B",
                      "S"
                    ],
                    "example": "B"
                  },
                  "tradingSymbol": {
                    "type": "string",
                    "description": "Trading symbol. Required unless exchangeSegment + scripCode are sent.",
                    "example": "RELIANCE-EQ"
                  },
                  "exchangeSegment": {
                    "type": "string",
                    "description": "Exchange segment. Required when tradingSymbol is not sent.",
                    "enum": [
                      "NSE",
                      "BSE",
                      "NSEFO",
                      "BSEFO",
                      "NSECDSFO",
                      "BSECDSFO",
                      "MCXFO"
                    ],
                    "example": "NSE"
                  },
                  "scripCode": {
                    "type": "string",
                    "description": "Broker scrip code (token). Required when tradingSymbol is not sent.",
                    "example": "2885"
                  },
                  "productType": {
                    "type": "string",
                    "description": "Product type.",
                    "enum": [
                      "INTRADAY",
                      "DELIVERY",
                      "MTF"
                    ],
                    "example": "DELIVERY"
                  },
                  "flavor": {
                    "type": "string",
                    "description": "Order flavor.",
                    "enum": [
                      "REGULAR",
                      "BO",
                      "CO",
                      "GTT"
                    ],
                    "example": "REGULAR"
                  },
                  "orderType": {
                    "type": "string",
                    "description": "Order type. BO allows LIMIT only; CO and GTT allow MARKET or LIMIT.",
                    "enum": [
                      "LIMIT",
                      "MARKET",
                      "STOP_LOSS",
                      "STOP_LOSS_MARKET"
                    ],
                    "example": "LIMIT"
                  },
                  "validity": {
                    "type": "string",
                    "description": "Order validity.",
                    "enum": [
                      "DAY",
                      "IOC",
                      "YEAR"
                    ],
                    "example": "DAY"
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "Quantity in units (a multiple of lot size for derivatives).",
                    "example": 10
                  },
                  "disclosedQuantity": {
                    "type": "integer",
                    "description": "Disclosed quantity (REGULAR DAY orders only).",
                    "example": 0
                  },
                  "price": {
                    "type": "number",
                    "description": "Limit price in ₹. Required for LIMIT and STOP_LOSS.",
                    "example": 1410
                  },
                  "triggerPrice": {
                    "type": "number",
                    "description": "Trigger price in ₹. Required for STOP_LOSS, STOP_LOSS_MARKET and GTT.",
                    "example": 1400
                  },
                  "isAMO": {
                    "type": "boolean",
                    "description": "After-market order.",
                    "example": false
                  },
                  "targetPrice": {
                    "type": "number",
                    "description": "Target price in ₹ (BO).",
                    "example": 1450
                  },
                  "stoplossPrice": {
                    "type": "number",
                    "description": "Stop-loss price in ₹ (BO/CO).",
                    "example": 1400
                  },
                  "trailSL": {
                    "type": "number",
                    "description": "Trailing stop-loss in ticks.",
                    "example": 5
                  },
                  "isSlice": {
                    "type": "boolean",
                    "description": "Slice into exchange-size child orders.",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "orderId": "2609250000123456",
                    "error": "",
                    "isSliced": false,
                    "orderIds": [
                      "2609250000123456"
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderPlacementResult"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "modify-order",
        "tags": [
          "orders"
        ],
        "summary": "Modify an order",
        "description": "Modifies an open order. Send orderId plus the fields to change.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 10,
            "per": "second"
          },
          "long": {
            "limit": 5000,
            "per": "day"
          }
        },
        "x-static-ip": true,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderId",
                  "tradeSide",
                  "productType",
                  "flavor",
                  "orderType",
                  "validity",
                  "quantity",
                  "isAMO"
                ],
                "properties": {
                  "orderId": {
                    "type": "string",
                    "description": "Broker order number. Required when modifying.",
                    "example": "2609250000123502"
                  },
                  "tradeSide": {
                    "type": "string",
                    "description": "B = Buy, S = Sell.",
                    "enum": [
                      "B",
                      "S"
                    ],
                    "example": "B"
                  },
                  "tradingSymbol": {
                    "type": "string",
                    "description": "Trading symbol. Required unless exchangeSegment + scripCode are sent.",
                    "example": "RELIANCE-EQ"
                  },
                  "exchangeSegment": {
                    "type": "string",
                    "description": "Exchange segment. Required when tradingSymbol is not sent.",
                    "enum": [
                      "NSE",
                      "BSE",
                      "NSEFO",
                      "BSEFO",
                      "NSECDSFO",
                      "BSECDSFO",
                      "MCXFO"
                    ],
                    "example": "NSE"
                  },
                  "scripCode": {
                    "type": "string",
                    "description": "Broker scrip code (token). Required when tradingSymbol is not sent.",
                    "example": "2885"
                  },
                  "productType": {
                    "type": "string",
                    "description": "Product type.",
                    "enum": [
                      "INTRADAY",
                      "DELIVERY",
                      "MTF"
                    ],
                    "example": "DELIVERY"
                  },
                  "flavor": {
                    "type": "string",
                    "description": "Order flavor.",
                    "enum": [
                      "REGULAR",
                      "BO",
                      "CO",
                      "GTT"
                    ],
                    "example": "REGULAR"
                  },
                  "orderType": {
                    "type": "string",
                    "description": "Order type. BO allows LIMIT only; CO and GTT allow MARKET or LIMIT.",
                    "enum": [
                      "LIMIT",
                      "MARKET",
                      "STOP_LOSS",
                      "STOP_LOSS_MARKET"
                    ],
                    "example": "LIMIT"
                  },
                  "validity": {
                    "type": "string",
                    "description": "Order validity.",
                    "enum": [
                      "DAY",
                      "IOC",
                      "YEAR"
                    ],
                    "example": "DAY"
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "Quantity in units (a multiple of lot size for derivatives).",
                    "example": 10
                  },
                  "disclosedQuantity": {
                    "type": "integer",
                    "description": "Disclosed quantity (REGULAR DAY orders only).",
                    "example": 0
                  },
                  "price": {
                    "type": "number",
                    "description": "Limit price in ₹. Required for LIMIT and STOP_LOSS.",
                    "example": 1410
                  },
                  "triggerPrice": {
                    "type": "number",
                    "description": "Trigger price in ₹. Required for STOP_LOSS, STOP_LOSS_MARKET and GTT.",
                    "example": 1400
                  },
                  "isAMO": {
                    "type": "boolean",
                    "description": "After-market order.",
                    "example": false
                  },
                  "targetPrice": {
                    "type": "number",
                    "description": "Target price in ₹ (BO).",
                    "example": 1450
                  },
                  "stoplossPrice": {
                    "type": "number",
                    "description": "Stop-loss price in ₹ (BO/CO).",
                    "example": 1400
                  },
                  "trailSL": {
                    "type": "number",
                    "description": "Trailing stop-loss in ticks.",
                    "example": 5
                  },
                  "legIndicator": {
                    "type": "string",
                    "description": "Leg to modify (BO/CO only).",
                    "enum": [
                      "ENTRY_LEG",
                      "STOP_LOSS_LEG",
                      "TARGET_LEG"
                    ],
                    "example": "ENTRY_LEG"
                  },
                  "isSlice": {
                    "type": "boolean",
                    "description": "Slice into exchange-size child orders.",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "orderId": "2609250000123456",
                    "error": "",
                    "isSliced": false,
                    "orderIds": [
                      "2609250000123456"
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderPlacementResult"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}": {
      "delete": {
        "operationId": "cancel-order",
        "tags": [
          "orders"
        ],
        "summary": "Cancel an order",
        "description": "Asks the broker to cancel an open order. A success means the cancel was accepted: read Order details for the final status.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 10,
            "per": "second"
          },
          "long": {
            "limit": 5000,
            "per": "day"
          }
        },
        "x-static-ip": true,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Broker order number.",
            "schema": {
              "type": "string",
              "description": "Broker order number.",
              "example": "2609250000123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "orderId": "2609250000123502",
                    "error": ""
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderCancelResult"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "order-details",
        "tags": [
          "orders"
        ],
        "summary": "Order details",
        "description": "One order, in the same shape as the order book. An unknown order number returns an empty list, not a 404.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 60,
            "per": "minute"
          },
          "long": {
            "limit": 2000,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Broker order number.",
            "schema": {
              "type": "string",
              "description": "Broker order number.",
              "example": "2609250000123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "orders": [
                      {
                        "orderId": "2609250000123456",
                        "exchangeOrderId": "1100000045123789",
                        "clientId": "",
                        "tradeSide": "B",
                        "exchangeSegment": "NSE",
                        "scripCode": "2885",
                        "flavor": "REGULAR",
                        "orderType": "LIMIT",
                        "validity": "DAY",
                        "productType": "DELIVERY",
                        "isAMO": false,
                        "quantity": 10,
                        "tradedQty": 10,
                        "disclosedQuantity": 0,
                        "price": 1410,
                        "triggerPrice": 0,
                        "targetPrice": 0,
                        "stoplossPrice": 0,
                        "orderStatus": "Traded",
                        "createdAt": "2026-09-25T04:05:12.000Z",
                        "updatedAt": "2026-09-25T04:05:13.000Z",
                        "avgTradedPrice": 1409.8,
                        "tradingSymbol": "RELIANCE-EQ"
                      }
                    ],
                    "scrips": {
                      "RELIANCE-EQ": {
                        "tradingSymbol": "RELIANCE-EQ",
                        "scripCode": 2885,
                        "exchange": "NSE",
                        "segment": "ES",
                        "scripKey": "NSE@2885",
                        "logo": "https://high-space.blr1.cdn.digitaloceanspaces.com/logos/RELIANCE.png",
                        "symbol": "RELIANCE",
                        "scripName": "Reliance Industries Ltd",
                        "marketLot": 1,
                        "priceTick": 10,
                        "isin": "INE002A01018",
                        "sector": "Energy",
                        "industry": "Refineries",
                        "hasFnO": true
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderBook"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/list": {
      "get": {
        "operationId": "order-book",
        "tags": [
          "orders"
        ],
        "summary": "Order book",
        "description": "Every order placed today, with its status, and the details of each instrument in them.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 60,
            "per": "minute"
          },
          "long": {
            "limit": 2000,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "orders": [
                      {
                        "orderId": "2609250000123456",
                        "exchangeOrderId": "1100000045123789",
                        "clientId": "",
                        "tradeSide": "B",
                        "exchangeSegment": "NSE",
                        "scripCode": "2885",
                        "flavor": "REGULAR",
                        "orderType": "LIMIT",
                        "validity": "DAY",
                        "productType": "DELIVERY",
                        "isAMO": false,
                        "quantity": 10,
                        "tradedQty": 10,
                        "disclosedQuantity": 0,
                        "price": 1410,
                        "triggerPrice": 0,
                        "targetPrice": 0,
                        "stoplossPrice": 0,
                        "orderStatus": "Traded",
                        "createdAt": "2026-09-25T04:05:12.000Z",
                        "updatedAt": "2026-09-25T04:05:13.000Z",
                        "avgTradedPrice": 1409.8,
                        "tradingSymbol": "RELIANCE-EQ"
                      },
                      {
                        "orderId": "2609250000123502",
                        "exchangeOrderId": "1100000045124011",
                        "clientId": "",
                        "tradeSide": "S",
                        "exchangeSegment": "NSE",
                        "scripCode": "11536",
                        "flavor": "REGULAR",
                        "orderType": "LIMIT",
                        "validity": "DAY",
                        "productType": "INTRADAY",
                        "isAMO": false,
                        "quantity": 5,
                        "tradedQty": 0,
                        "disclosedQuantity": 0,
                        "price": 3120.5,
                        "triggerPrice": 0,
                        "targetPrice": 0,
                        "stoplossPrice": 0,
                        "orderStatus": "Pending",
                        "error": "",
                        "createdAt": "2026-09-25T04:10:40.000Z",
                        "updatedAt": "2026-09-25T04:10:41.000Z",
                        "tradingSymbol": "TCS-EQ"
                      }
                    ],
                    "scrips": {
                      "RELIANCE-EQ": {
                        "tradingSymbol": "RELIANCE-EQ",
                        "scripCode": 2885,
                        "exchange": "NSE",
                        "segment": "ES",
                        "scripKey": "NSE@2885",
                        "logo": "https://high-space.blr1.cdn.digitaloceanspaces.com/logos/RELIANCE.png",
                        "symbol": "RELIANCE",
                        "scripName": "Reliance Industries Ltd",
                        "marketLot": 1,
                        "priceTick": 10,
                        "isin": "INE002A01018",
                        "sector": "Energy",
                        "industry": "Refineries",
                        "hasFnO": true
                      },
                      "TCS-EQ": {
                        "tradingSymbol": "TCS-EQ",
                        "scripCode": 11536,
                        "exchange": "NSE",
                        "segment": "ES",
                        "scripKey": "NSE@11536",
                        "logo": "https://high-space.blr1.cdn.digitaloceanspaces.com/logos/TCS.png",
                        "symbol": "TCS",
                        "scripName": "Tata Consultancy Services Ltd",
                        "marketLot": 1,
                        "priceTick": 10,
                        "isin": "INE467B01029",
                        "sector": "Information Technology",
                        "industry": "IT Services & Consulting",
                        "hasFnO": true
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderBook"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/trades": {
      "get": {
        "operationId": "trade-book",
        "tags": [
          "orders"
        ],
        "summary": "Trade book",
        "description": "Every trade (fill) today, up to 1,000, with the details of each instrument traded.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 60,
            "per": "minute"
          },
          "long": {
            "limit": 2000,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "trades": [
                      {
                        "tradeId": "50412378",
                        "orderId": "2609250000123456",
                        "tradeSide": "B",
                        "exchangeSegment": "NSE",
                        "scripCode": "2885",
                        "symbol": "RELIANCE",
                        "quantity": 6,
                        "avgTradedPrice": 1409.5,
                        "productType": "DELIVERY",
                        "createdAt": "2026-09-25T04:05:12.000Z",
                        "tradingSymbol": "RELIANCE-EQ"
                      },
                      {
                        "tradeId": "50412379",
                        "orderId": "2609250000123456",
                        "tradeSide": "B",
                        "exchangeSegment": "NSE",
                        "scripCode": "2885",
                        "symbol": "RELIANCE",
                        "quantity": 4,
                        "avgTradedPrice": 1410.25,
                        "productType": "DELIVERY",
                        "createdAt": "2026-09-25T04:05:13.000Z",
                        "tradingSymbol": "RELIANCE-EQ"
                      }
                    ],
                    "scrips": {
                      "RELIANCE-EQ": {
                        "tradingSymbol": "RELIANCE-EQ",
                        "scripCode": 2885,
                        "exchange": "NSE",
                        "segment": "ES",
                        "scripKey": "NSE@2885",
                        "logo": "https://high-space.blr1.cdn.digitaloceanspaces.com/logos/RELIANCE.png",
                        "symbol": "RELIANCE",
                        "scripName": "Reliance Industries Ltd",
                        "marketLot": 1,
                        "priceTick": 10,
                        "isin": "INE002A01018",
                        "sector": "Energy",
                        "industry": "Refineries",
                        "hasFnO": true
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TradeBook"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/trades": {
      "get": {
        "operationId": "order-trades",
        "tags": [
          "orders"
        ],
        "summary": "Trades of an order",
        "description": "Today's fills of one order, in the same shape as the trade book.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 60,
            "per": "minute"
          },
          "long": {
            "limit": 2000,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "Broker order number.",
            "schema": {
              "type": "string",
              "description": "Broker order number.",
              "example": "2609250000123456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "trades": [
                      {
                        "tradeId": "50412378",
                        "orderId": "2609250000123456",
                        "tradeSide": "B",
                        "exchangeSegment": "NSE",
                        "scripCode": "2885",
                        "symbol": "RELIANCE",
                        "quantity": 6,
                        "avgTradedPrice": 1409.5,
                        "productType": "DELIVERY",
                        "createdAt": "2026-09-25T04:05:12.000Z",
                        "tradingSymbol": "RELIANCE-EQ"
                      },
                      {
                        "tradeId": "50412379",
                        "orderId": "2609250000123456",
                        "tradeSide": "B",
                        "exchangeSegment": "NSE",
                        "scripCode": "2885",
                        "symbol": "RELIANCE",
                        "quantity": 4,
                        "avgTradedPrice": 1410.25,
                        "productType": "DELIVERY",
                        "createdAt": "2026-09-25T04:05:13.000Z",
                        "tradingSymbol": "RELIANCE-EQ"
                      }
                    ],
                    "scrips": {
                      "RELIANCE-EQ": {
                        "tradingSymbol": "RELIANCE-EQ",
                        "scripCode": 2885,
                        "exchange": "NSE",
                        "segment": "ES",
                        "scripKey": "NSE@2885",
                        "logo": "https://high-space.blr1.cdn.digitaloceanspaces.com/logos/RELIANCE.png",
                        "symbol": "RELIANCE",
                        "scripName": "Reliance Industries Ltd",
                        "marketLot": 1,
                        "priceTick": 10,
                        "isin": "INE002A01018",
                        "sector": "Energy",
                        "industry": "Refineries",
                        "hasFnO": true
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TradeBook"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/charges": {
      "post": {
        "operationId": "order-charges",
        "tags": [
          "orders"
        ],
        "summary": "Estimate charges",
        "description": "Brokerage, taxes and fees for a hypothetical order.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 60,
            "per": "minute"
          },
          "long": {
            "limit": 2000,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "quantity",
                  "tradeSide",
                  "productType"
                ],
                "properties": {
                  "tradingSymbol": {
                    "type": "string",
                    "description": "Trading symbol. Required unless exchangeSegment + scripCode are sent.",
                    "example": "RELIANCE-EQ"
                  },
                  "exchangeSegment": {
                    "type": "string",
                    "description": "Exchange segment. Required when tradingSymbol is not sent.",
                    "enum": [
                      "NSE",
                      "BSE",
                      "NSEFO",
                      "BSEFO",
                      "NSECDSFO",
                      "BSECDSFO",
                      "MCXFO"
                    ],
                    "example": "NSE"
                  },
                  "scripCode": {
                    "type": "string",
                    "description": "Broker scrip code (token). Required when tradingSymbol is not sent.",
                    "example": "2885"
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "Quantity in units.",
                    "example": 10
                  },
                  "tradeSide": {
                    "type": "string",
                    "description": "B = Buy, S = Sell.",
                    "enum": [
                      "B",
                      "S"
                    ],
                    "example": "B"
                  },
                  "productType": {
                    "type": "string",
                    "description": "Product type.",
                    "enum": [
                      "INTRADAY",
                      "DELIVERY",
                      "MTF"
                    ],
                    "example": "DELIVERY"
                  },
                  "price": {
                    "type": "number",
                    "description": "Price in ₹ to estimate at. Leave it out to use the LTP.",
                    "example": 1410
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "quantity": 10,
                    "price": 1410,
                    "productType": "DELIVERY",
                    "tradeSide": "B",
                    "tradedValue": 14100,
                    "charges": {
                      "brokerage": 5,
                      "stt": 14.1,
                      "clearingCharges": 0.141,
                      "dpCharges": 0,
                      "stampDuty": 2.115,
                      "transactionCharges": 0.423,
                      "turnoverCharges": 0.014,
                      "gst": 1.002,
                      "totalBuyCharges": 22.795,
                      "totalSellCharges": 35.43,
                      "breakevenPrice": 1415.823
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderCharges"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/margin": {
      "post": {
        "operationId": "order-margin",
        "tags": [
          "orders"
        ],
        "summary": "Required margin",
        "description": "Margin required for a basket of orders.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 60,
            "per": "minute"
          },
          "long": {
            "limit": 2000,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "quantity",
                    "tradeSide",
                    "productType"
                  ],
                  "properties": {
                    "tradingSymbol": {
                      "type": "string",
                      "description": "Trading symbol. Required unless exchangeSegment + scripCode are sent.",
                      "example": "RELIANCE-EQ"
                    },
                    "exchangeSegment": {
                      "type": "string",
                      "description": "Exchange segment. Required when tradingSymbol is not sent.",
                      "enum": [
                        "NSE",
                        "BSE",
                        "NSEFO",
                        "BSEFO",
                        "NSECDSFO",
                        "BSECDSFO",
                        "MCXFO"
                      ],
                      "example": "NSE"
                    },
                    "scripCode": {
                      "type": "string",
                      "description": "Broker scrip code (token). Required when tradingSymbol is not sent.",
                      "example": "2885"
                    },
                    "quantity": {
                      "type": "integer",
                      "description": "Quantity in units.",
                      "example": 10
                    },
                    "tradeSide": {
                      "type": "string",
                      "description": "B = Buy, S = Sell.",
                      "enum": [
                        "B",
                        "S"
                      ],
                      "example": "B"
                    },
                    "productType": {
                      "type": "string",
                      "description": "Product type.",
                      "enum": [
                        "INTRADAY",
                        "DELIVERY",
                        "MTF"
                      ],
                      "example": "DELIVERY"
                    },
                    "price": {
                      "type": "number",
                      "description": "Price in ₹ to estimate at. Leave it out to use the LTP.",
                      "example": 1410
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "margins": [
                      {
                        "tradingSymbol": "NIFTYBEES-EQ",
                        "scripKey": "NSE@10576",
                        "quantity": 100,
                        "tradeSide": "B",
                        "initialMargin": 28050,
                        "exposureMargin": 0
                      },
                      {
                        "tradingSymbol": "RELIANCE-EQ",
                        "scripKey": "NSE@2885",
                        "quantity": 10,
                        "tradeSide": "B",
                        "initialMargin": 14100,
                        "exposureMargin": 0
                      }
                    ],
                    "spanSummary": {
                      "span": 0,
                      "exposureMargin": 0,
                      "optionPremium": 0,
                      "marginBenefit": 0,
                      "totalMargin": 42150
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/OrderMargin"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/portfolio/positions": {
      "get": {
        "operationId": "positions",
        "tags": [
          "portfolio"
        ],
        "summary": "Positions",
        "description": "Today's open and closed positions with profit and loss, and a live quote for each instrument.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 60,
            "per": "minute"
          },
          "long": {
            "limit": 2000,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "totalStocks": 1,
                    "snapshot": {
                      "bookedPL": 100,
                      "unrealisedPL": 123,
                      "totalPL": 223,
                      "bookedPLPercent": 0.71,
                      "unrealisedPLPercent": 0.88,
                      "totalPLPercent": 0.8
                    },
                    "positions": [
                      {
                        "netQty": 10,
                        "buyQty": 20,
                        "sellQty": 10,
                        "isMTF": false,
                        "buyAvgPrice": 1400,
                        "sellAvgPrice": 1410,
                        "exchangeSegment": "NSE",
                        "scripCode": "2885",
                        "tradingSymbol": "RELIANCE-EQ",
                        "snapshot": {
                          "bookedPL": 100,
                          "unrealisedPL": 123,
                          "totalPL": 223,
                          "bookedPLPercent": 0.71,
                          "unrealisedPLPercent": 0.88,
                          "totalPLPercent": 0.8
                        },
                        "productType": "INTRADAY",
                        "flavor": "REGULAR"
                      }
                    ],
                    "scrips": {
                      "RELIANCE-EQ": {
                        "tradingSymbol": "RELIANCE-EQ",
                        "scripCode": 2885,
                        "exchange": "NSE",
                        "segment": "ES",
                        "scripKey": "NSE@2885",
                        "logo": "https://high-space.blr1.cdn.digitaloceanspaces.com/logos/RELIANCE.png",
                        "symbol": "RELIANCE",
                        "scripName": "Reliance Industries Ltd",
                        "marketLot": 1,
                        "priceTick": 10,
                        "isin": "INE002A01018",
                        "sector": "Energy",
                        "industry": "Refineries",
                        "hasFnO": true,
                        "touchline": {
                          "scrip": "NSE@2885",
                          "LTP": 1412.3,
                          "prevClose": 1405.8,
                          "change": 6.5,
                          "changePer": 0.46
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Positions"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/portfolio/holdings": {
      "get": {
        "operationId": "holdings",
        "tags": [
          "portfolio"
        ],
        "summary": "Holdings",
        "description": "Demat and MTF holdings with average cost, value and profit or loss, and a live quote for each instrument.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 60,
            "per": "minute"
          },
          "long": {
            "limit": 2000,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "totalStocks": 1,
                    "snapshot": {
                      "investment": 13000,
                      "currentValue": 14123,
                      "previousDayValue": 14058,
                      "totalPL": 1123,
                      "dayPL": 65,
                      "totalPLPercent": 8.64,
                      "dayPLPercent": 0.46
                    },
                    "holdings": [
                      {
                        "netQty": 10,
                        "buyQty": 10,
                        "sellQty": 0,
                        "isMTF": false,
                        "buyAvgPrice": 1300,
                        "sellAvgPrice": 0,
                        "exchangeSegment": "NSE",
                        "scripCode": "2885",
                        "tradingSymbol": "RELIANCE-EQ",
                        "snapshot": {
                          "investment": 13000,
                          "currentValue": 14123,
                          "previousDayValue": 14058,
                          "totalPL": 1123,
                          "dayPL": 65,
                          "totalPLPercent": 8.64,
                          "dayPLPercent": 0.46
                        }
                      }
                    ],
                    "scrips": {
                      "RELIANCE-EQ": {
                        "tradingSymbol": "RELIANCE-EQ",
                        "scripCode": 2885,
                        "exchange": "NSE",
                        "segment": "ES",
                        "scripKey": "NSE@2885",
                        "logo": "https://high-space.blr1.cdn.digitaloceanspaces.com/logos/RELIANCE.png",
                        "symbol": "RELIANCE",
                        "scripName": "Reliance Industries Ltd",
                        "marketLot": 1,
                        "priceTick": 10,
                        "isin": "INE002A01018",
                        "sector": "Energy",
                        "industry": "Refineries",
                        "hasFnO": true,
                        "touchline": {
                          "scrip": "NSE@2885",
                          "LTP": 1412.3,
                          "prevClose": 1405.8,
                          "change": 6.5,
                          "changePer": 0.46
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Holdings"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/portfolio/funds": {
      "get": {
        "operationId": "funds",
        "tags": [
          "portfolio"
        ],
        "summary": "Funds and margin",
        "description": "Available balance, margin in use, collateral, MTF funding and charges outstanding.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 60,
            "per": "minute"
          },
          "long": {
            "limit": 2000,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "availableBalance": 125000.5,
                    "ledgerBalance": 150000,
                    "todaysBalance": 155000.5,
                    "marginUtilized": 30000,
                    "marginAgainstAssets": 50000,
                    "todaysPayIn": 10000,
                    "todaysPayout": 5000,
                    "mtfFunds": {
                      "mtfCash": 20000,
                      "mtfFunded": 60000,
                      "totalMTFFunding": 80000
                    },
                    "charges": {
                      "delayedPaymentCharges": 0,
                      "dpCharges": 14.75,
                      "totalCharges": 14.75
                    },
                    "unsettledFutureAmount": 0
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Funds"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/portfolio/positions/convert": {
      "patch": {
        "operationId": "convert-position",
        "tags": [
          "portfolio"
        ],
        "summary": "Convert a position",
        "description": "Converts between INTRADAY, DELIVERY and MTF.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 50,
            "per": "minute"
          },
          "long": {
            "limit": 3000,
            "per": "day"
          }
        },
        "x-static-ip": true,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tradeSide",
                  "quantity",
                  "sourceProductType",
                  "targetProductType"
                ],
                "properties": {
                  "tradingSymbol": {
                    "type": "string",
                    "description": "Trading symbol. Required unless exchangeSegment + scripCode are sent.",
                    "example": "RELIANCE-EQ"
                  },
                  "exchangeSegment": {
                    "type": "string",
                    "description": "Exchange segment. Required when tradingSymbol is not sent.",
                    "enum": [
                      "NSE",
                      "BSE",
                      "NSEFO",
                      "BSEFO",
                      "NSECDSFO",
                      "BSECDSFO",
                      "MCXFO"
                    ],
                    "example": "NSE"
                  },
                  "scripCode": {
                    "type": "string",
                    "description": "Broker scrip code (token). Required when tradingSymbol is not sent.",
                    "example": "2885"
                  },
                  "tradeSide": {
                    "type": "string",
                    "description": "B = Buy, S = Sell.",
                    "enum": [
                      "B",
                      "S"
                    ],
                    "example": "B"
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "Quantity to convert.",
                    "example": 50
                  },
                  "sourceProductType": {
                    "type": "string",
                    "description": "Convert from.",
                    "enum": [
                      "INTRADAY",
                      "DELIVERY",
                      "MTF"
                    ],
                    "example": "INTRADAY"
                  },
                  "targetProductType": {
                    "type": "string",
                    "description": "Convert to.",
                    "enum": [
                      "INTRADAY",
                      "DELIVERY",
                      "MTF"
                    ],
                    "example": "DELIVERY"
                  },
                  "clientOrderNo": {
                    "type": "string",
                    "description": "Order number, blank for position-level conversion.",
                    "example": "ORD0001234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "tradingSymbol": "RELIANCE-EQ",
                    "exchangeSegment": "NSE",
                    "scripCode": "2885",
                    "quantity": 50,
                    "isSubmitted": true,
                    "shortfall": 0
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PositionConvertResult"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/portfolio/positions/exit/all": {
      "delete": {
        "operationId": "exit-all-positions",
        "tags": [
          "portfolio"
        ],
        "summary": "Exit all positions",
        "description": "Squares off every open position at market and reports each one. With no open positions it answers 400 POSITION_SQUARE_OFF_FAILED.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 50,
            "per": "minute"
          },
          "long": {
            "limit": 3000,
            "per": "day"
          }
        },
        "x-static-ip": true,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "totalCount": 2,
                    "successCount": 1,
                    "failureCount": 1,
                    "positions": [
                      {
                        "tradingSymbol": "RELIANCE-EQ",
                        "exchangeSegment": "NSE",
                        "scripCode": "2885",
                        "quantity": 10,
                        "flavor": "REGULAR",
                        "isSubmitted": true
                      },
                      {
                        "tradingSymbol": "",
                        "exchangeSegment": "NSEFO",
                        "scripCode": "52175",
                        "quantity": 75,
                        "flavor": "REGULAR",
                        "isSubmitted": false,
                        "error": "Position could not be squared off. Please try again."
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PositionExitAllResult"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/portfolio/positions/exit": {
      "delete": {
        "operationId": "exit-position",
        "tags": [
          "portfolio"
        ],
        "summary": "Exit a position",
        "description": "Squares off one position. The exit order's number is not returned: read the order book for it.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 50,
            "per": "minute"
          },
          "long": {
            "limit": 3000,
            "per": "day"
          }
        },
        "x-static-ip": true,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tradeSide",
                  "productType",
                  "quantity",
                  "flavor"
                ],
                "properties": {
                  "tradingSymbol": {
                    "type": "string",
                    "description": "Trading symbol. Required unless exchangeSegment + scripCode are sent.",
                    "example": "RELIANCE-EQ"
                  },
                  "exchangeSegment": {
                    "type": "string",
                    "description": "Exchange segment. Required when tradingSymbol is not sent.",
                    "enum": [
                      "NSE",
                      "BSE",
                      "NSEFO",
                      "BSEFO",
                      "NSECDSFO",
                      "BSECDSFO",
                      "MCXFO"
                    ],
                    "example": "NSE"
                  },
                  "scripCode": {
                    "type": "string",
                    "description": "Broker scrip code (token). Required when tradingSymbol is not sent.",
                    "example": "2885"
                  },
                  "tradeSide": {
                    "type": "string",
                    "description": "Side of the exit order.",
                    "enum": [
                      "B",
                      "S"
                    ],
                    "example": "S"
                  },
                  "productType": {
                    "type": "string",
                    "description": "Product of the position.",
                    "enum": [
                      "INTRADAY",
                      "DELIVERY"
                    ],
                    "example": "INTRADAY"
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "Quantity to square off.",
                    "example": 50
                  },
                  "flavor": {
                    "type": "string",
                    "description": "Flavor of the original position.",
                    "enum": [
                      "REGULAR",
                      "BO",
                      "CO"
                    ],
                    "example": "REGULAR"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "tradingSymbol": "RELIANCE-EQ",
                    "exchangeSegment": "NSE",
                    "scripCode": "2885",
                    "quantity": 50,
                    "flavor": "REGULAR",
                    "isSubmitted": true
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/PositionExitResult"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/market/status": {
      "get": {
        "operationId": "market-status",
        "tags": [
          "market"
        ],
        "summary": "Market status",
        "description": "Whether today is a trading holiday, and the session phase of each exchange segment.",
        "x-plan": "free",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 60,
            "per": "minute"
          },
          "long": {
            "limit": 2000,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "isHoliday": false,
                    "date": "2026-09-25",
                    "exchangeStatus": {
                      "NSE": {
                        "status": "OPEN",
                        "timeRemainingInSeconds": 12600,
                        "isMock": false
                      },
                      "BSE": {
                        "status": "OPEN",
                        "timeRemainingInSeconds": 12600,
                        "isMock": false
                      },
                      "NSEFO": {
                        "status": "OPEN",
                        "timeRemainingInSeconds": 12600,
                        "isMock": false
                      },
                      "BSEFO": {
                        "status": "OPEN",
                        "timeRemainingInSeconds": 12600,
                        "isMock": false
                      },
                      "NSECDS": {
                        "status": "OPEN",
                        "timeRemainingInSeconds": 16200,
                        "isMock": false
                      },
                      "MCX": {
                        "status": "OPEN",
                        "timeRemainingInSeconds": 49500,
                        "isMock": false
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MarketStatus"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scrips/quotes": {
      "post": {
        "operationId": "quotes",
        "tags": [
          "scrips"
        ],
        "summary": "Quotes",
        "description": "Last traded price, previous close and change for one or more instruments, plus open interest for derivatives. Send trading symbols, scrip keys or both.",
        "x-plan": "data",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 1,
            "per": "second"
          },
          "long": {
            "limit": 3600,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "symbols": {
                    "type": "array",
                    "description": "Trading symbols from the instrument list. Send symbols, scripKeys or both; at least one must match an instrument.",
                    "example": [
                      "RELIANCE-EQ",
                      "NIFTY-29SEP26-FUT"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "scripKeys": {
                    "type": "array",
                    "description": "Scrip keys (the instrument list's scrip_key, e.g. NSE@2885).",
                    "example": [
                      "NSE@2885"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "RELIANCE-EQ": {
                      "scrip": "NSE@2885",
                      "LTP": 1412.3,
                      "prevClose": 1405.8,
                      "change": 6.5,
                      "changePer": 0.46
                    },
                    "NIFTY-29SEP26-FUT": {
                      "scrip": "NSEFO@52175",
                      "LTP": 25112.5,
                      "prevClose": 25060.1,
                      "change": 52.4,
                      "changePer": 0.21,
                      "oi": 15872250,
                      "prevOI": 15603375,
                      "oiChange": 268875,
                      "oiChangePer": 1.72
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/QuoteMap"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scrips/ohlc": {
      "post": {
        "operationId": "ohlc",
        "tags": [
          "scrips"
        ],
        "summary": "OHLC",
        "description": "Everything Quotes returns, plus the open, high, low, close and volume of the latest daily candle.",
        "x-plan": "data",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 1,
            "per": "second"
          },
          "long": {
            "limit": 3600,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "symbols": {
                    "type": "array",
                    "description": "Trading symbols from the instrument list. Send symbols, scripKeys or both; at least one must match an instrument.",
                    "example": [
                      "RELIANCE-EQ",
                      "NIFTY-29SEP26-FUT"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "scripKeys": {
                    "type": "array",
                    "description": "Scrip keys (the instrument list's scrip_key, e.g. NSE@2885).",
                    "example": [
                      "NSE@2885"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "RELIANCE-EQ": {
                      "scrip": "NSE@2885",
                      "LTP": 1412.3,
                      "prevClose": 1405.8,
                      "change": 6.5,
                      "changePer": 0.46,
                      "ohlcv": {
                        "open": 1407,
                        "high": 1418.6,
                        "low": 1403.2,
                        "close": 1412.3,
                        "volume": 6843210
                      }
                    },
                    "NIFTY-29SEP26-FUT": {
                      "scrip": "NSEFO@52175",
                      "LTP": 25112.5,
                      "prevClose": 25060.1,
                      "change": 52.4,
                      "changePer": 0.21,
                      "oi": 15872250,
                      "prevOI": 15603375,
                      "oiChange": 268875,
                      "oiChangePer": 1.72,
                      "ohlcv": {
                        "open": 25071,
                        "high": 25148.9,
                        "low": 25032.4,
                        "close": 25112.5,
                        "volume": 3215400,
                        "oi": 15872250
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/QuoteMap"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scrips/{symbol}/depth": {
      "get": {
        "operationId": "depth",
        "tags": [
          "scrips"
        ],
        "summary": "Market depth",
        "description": "The best bid and ask price levels (up to five a side) with quantity and order count, and the book totals. Tradable instruments only: indices and commodity spot have no depth.",
        "x-plan": "data",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 1,
            "per": "second"
          },
          "long": {
            "limit": 3600,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Trading symbol from the instrument list.",
            "schema": {
              "type": "string",
              "description": "Trading symbol from the instrument list.",
              "example": "RELIANCE-EQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": {
                    "tradingSymbol": "RELIANCE-EQ",
                    "bids": [
                      {
                        "price": 1412.2,
                        "quantity": 850,
                        "orderCount": 12
                      },
                      {
                        "price": 1412.1,
                        "quantity": 1320,
                        "orderCount": 18
                      },
                      {
                        "price": 1412,
                        "quantity": 2400,
                        "orderCount": 31
                      },
                      {
                        "price": 1411.9,
                        "quantity": 610,
                        "orderCount": 9
                      },
                      {
                        "price": 1411.8,
                        "quantity": 1150,
                        "orderCount": 14
                      }
                    ],
                    "asks": [
                      {
                        "price": 1412.3,
                        "quantity": 420,
                        "orderCount": 6
                      },
                      {
                        "price": 1412.4,
                        "quantity": 980,
                        "orderCount": 11
                      },
                      {
                        "price": 1412.5,
                        "quantity": 1760,
                        "orderCount": 22
                      },
                      {
                        "price": 1412.6,
                        "quantity": 540,
                        "orderCount": 7
                      },
                      {
                        "price": 1412.7,
                        "quantity": 1290,
                        "orderCount": 15
                      }
                    ],
                    "totalBidQuantity": 245630,
                    "totalAskQuantity": 312480,
                    "totalAskPercentage": 55.99,
                    "totalBidsPercentage": 44.01
                  }
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MarketDepth"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scrips/{symbol}/{type}/expiries": {
      "get": {
        "operationId": "expiries",
        "tags": [
          "scrips"
        ],
        "summary": "Expiries",
        "description": "Upcoming expiry dates of the futures or options on an underlying, earliest first, each tagged monthly or weekly.",
        "x-plan": "data",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 1,
            "per": "second"
          },
          "long": {
            "limit": 3600,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Trading symbol of the underlying (a stock, index or F&O contract), e.g. RELIANCE-EQ or NIFTY.",
            "schema": {
              "type": "string",
              "description": "Trading symbol of the underlying (a stock, index or F&O contract), e.g. RELIANCE-EQ or NIFTY.",
              "example": "NIFTY"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "Which contracts to list. Case-insensitive.",
            "schema": {
              "type": "string",
              "description": "Which contracts to list. Case-insensitive.",
              "enum": [
                "futures",
                "options"
              ],
              "example": "options"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": [
                    {
                      "expiry": "2026-09-29",
                      "type": "M"
                    },
                    {
                      "expiry": "2026-10-06",
                      "type": "W"
                    },
                    {
                      "expiry": "2026-10-13",
                      "type": "W"
                    },
                    {
                      "expiry": "2026-10-20",
                      "type": "W"
                    },
                    {
                      "expiry": "2026-10-27",
                      "type": "M"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "requestId",
                    "data"
                  ],
                  "properties": {
                    "requestId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Expiry"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/scrips/{symbol}/future-data": {
      "get": {
        "operationId": "future-data",
        "tags": [
          "scrips"
        ],
        "summary": "Futures data",
        "description": "Every listed futures contract on an underlying, earliest expiry first, with a live quote for each.",
        "x-plan": "data",
        "x-status": "live",
        "x-rate-limit": {
          "short": {
            "limit": 1,
            "per": "second"
          },
          "long": {
            "limit": 3600,
            "per": "hour"
          }
        },
        "x-static-ip": false,
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "Trading symbol of the underlying or of one of its F&O contracts, e.g. RELIANCE-EQ or NIFTY.",
            "schema": {
              "type": "string",
              "description": "Trading symbol of the underlying or of one of its F&O contracts, e.g. RELIANCE-EQ or NIFTY.",
              "example": "RELIANCE-EQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "requestId": "a1b2c3",
                  "data": [
                    {
                      "tradingSymbol": "RELIANCE-29SEP26-FUT",
                      "scripCode": 52190,
                      "exchange": "NSE",
                      "segment": "FO",
                      "scripKey": "NSEFO@52190",
                      "logo": "https://high-space.blr1.cdn.digitaloceanspaces.com/logos/RELIANCE.png",
                      "symbol": "RELIANCE",
                      "underlyingSymbol": "RELIANCE",
                      "scripName": "RELIANCE 29 Sep Fut",
                      "marketLot": 500,
                      "priceTick": 10,
                      "expiry": "2026-09-29",
                      "strikePrice": -1,
                      "hasFnO": false,
                      "touchline": {
                        "scrip": "NSEFO@52190",
                        "LTP": 1415.6,
                        "prevClose": 1409.2,
                        "change": 6.4,
                        "changePer": 0.45,
                        "oi": 98450500,
                        "prevOI": 99120000,
                        "oiChange": -669500,
                        "oiChangePer": -0.68
                      }
                    },
                    {
                      "tradingSymbol": "RELIANCE-27OCT26-FUT",
                      "scripCode": 61248,
                      "exchange": "NSE",
                      "segment": "FO",
                      "scripKey": "NSEFO@61248",
                      "logo": "https://high-space.blr1.cdn.digitaloceanspaces.com/logos/RELIANCE.png",
                      "symbol": "RELIANCE",
                      "underlyingSymbol": "RELIANCE",
                      "scripName": "RELIANCE 27 Oct Fut",
[...]
